USE [master]
GO
/****** Object:  Database [QUANLYQUANCAFEHIGHLAND]    Script Date: 8/29/2022 8:30:17 PM ******/
CREATE DATABASE [QUANLYQUANCAFEHIGHLAND]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYQUANCAFEHIGHLAND', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QUANLYQUANCAFEHIGHLAND.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYQUANCAFEHIGHLAND_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QUANLYQUANCAFEHIGHLAND_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYQUANCAFEHIGHLAND].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYQUANCAFEHIGHLAND]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SOGHE] [int] NOT NULL,
	[LOAI] [bigint] NOT NULL,
	[TINHTRANG] [int] NOT NULL,
 CONSTRAINT [PK__BAN__3214EC27365E0C5E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHIPHI]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIPHI](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TENNL] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[GIAMOIDV] [int] NOT NULL,
	[LOAI] [nvarchar](3) NOT NULL,
	[DV] [nvarchar](10) NULL,
	[NHACUNGCAP] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL,
	[NVTAO] [bigint] NULL,
 CONSTRAINT [PK_CHIPHI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHD] [bigint] NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[TONGTIEN] [int] NOT NULL,
 CONSTRAINT [PK] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__CHITIETH__563D086C67A0DCB1] UNIQUE NONCLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TENCHUCVU] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__CHUCVU__006568E958DDDE19] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATBAN]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATBAN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[TIENCOC] [int] NOT NULL,
	[NGAYDAT] [date] NOT NULL,
	[TGDUKIEN] [datetime] NOT NULL,
	[NVTHUCHIEN] [bigint] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[BAN] [bigint] NOT NULL,
 CONSTRAINT [PK__DATBAN__77CD11CE46986D6C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID] [bigint] IDENTITY(0,1) NOT NULL,
	[NGAYTHUCHIEN] [datetime] NOT NULL,
	[BAN] [bigint] NOT NULL,
	[NVTHUCHIEN] [bigint] NULL,
	[TINHTRANG] [int] NOT NULL,
 CONSTRAINT [PK__HOADON__603F20CEFBED6B49] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIBAN]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIBAN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](20) NOT NULL,
	[GIADAT] [int] NOT NULL,
 CONSTRAINT [PK_LOAIBAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITHUCUONG]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITHUCUONG](
	[ID] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[DONVI] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__LOAITHUC__3214EC27EE943000] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [bigint] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[LUONG] [int] NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[CMND] [varchar](15) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGAYVAOLAM] [date] NOT NULL,
	[DANGHI] [bit] NOT NULL,
 CONSTRAINT [PK__NHANVIEN__603F5114708D8A0A] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUCDON](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[LOAI] [varchar](10) NOT NULL,
	[GIA] [int] NOT NULL,
 CONSTRAINT [PK__THUCDON__3214EC27AEAED7EA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERTB]    Script Date: 8/29/2022 8:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERTB](
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWD] [varchar](50) NOT NULL,
	[ID] [bigint] NOT NULL,
	[ROLEID] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[ICON] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_USERTB_1] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__USERTB__161CF724576E62B2] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__USERTB__B15BE12E7976E373] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [DF_BAN_TINHTRANG]  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[CHITIETHD] ADD  CONSTRAINT [DF_CHITIETHD_TONGTIEN]  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[DATBAN] ADD  CONSTRAINT [DF_DATBAN_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF__HOADON__NGAYTHUC__1FCDBCEB]  DEFAULT (getdate()) FOR [NGAYTHUCHIEN]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_BAN]  DEFAULT ((1)) FOR [BAN]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_TINHTRANG]  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT ((1)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF__NHANVIEN__NGAYVA__267ABA7A]  DEFAULT (getdate()) FOR [NGAYVAOLAM]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_DANGHI]  DEFAULT ((0)) FOR [DANGHI]
GO
ALTER TABLE [dbo].[USERTB] ADD  CONSTRAINT [DF_USERTB_EMAIL]  DEFAULT (N'n19dccn203@studen.ptithcm.edu.vn') FOR [EMAIL]
GO
ALTER TABLE [dbo].[USERTB] ADD  CONSTRAINT [DF_USERTB_ICON]  DEFAULT (N'logo_highland.png') FOR [ICON]
GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [FK_BAN_LOAIBAN] FOREIGN KEY([LOAI])
REFERENCES [dbo].[LOAIBAN] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [FK_BAN_LOAIBAN]
GO
ALTER TABLE [dbo].[CHIPHI]  WITH CHECK ADD  CONSTRAINT [FK_CHIPHI_NHANVIEN] FOREIGN KEY([NVTAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHIPHI] CHECK CONSTRAINT [FK_CHIPHI_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_THUCDON] FOREIGN KEY([MASP])
REFERENCES [dbo].[THUCDON] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_THUCDON]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DATBAN_BAN] FOREIGN KEY([BAN])
REFERENCES [dbo].[BAN] ([ID])
GO
ALTER TABLE [dbo].[DATBAN] CHECK CONSTRAINT [FK_DATBAN_BAN]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DATBAN_NHANVIEN] FOREIGN KEY([NVTHUCHIEN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DATBAN] CHECK CONSTRAINT [FK_DATBAN_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN] FOREIGN KEY([BAN])
REFERENCES [dbo].[BAN] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([NVTHUCHIEN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD  CONSTRAINT [FK_THUCDON_LOAITHUCUONG] FOREIGN KEY([LOAI])
REFERENCES [dbo].[LOAITHUCUONG] ([ID])
GO
ALTER TABLE [dbo].[THUCDON] CHECK CONSTRAINT [FK_THUCDON_LOAITHUCUONG]
GO
ALTER TABLE [dbo].[USERTB]  WITH CHECK ADD  CONSTRAINT [FK_USERTB_CHUCVU] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[CHUCVU] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[USERTB] CHECK CONSTRAINT [FK_USERTB_CHUCVU]
GO
ALTER TABLE [dbo].[USERTB]  WITH CHECK ADD  CONSTRAINT [FK_USERTB_NHANVIEN] FOREIGN KEY([ID])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[USERTB] CHECK CONSTRAINT [FK_USERTB_NHANVIEN]
GO
ALTER TABLE [dbo].[CHIPHI]  WITH CHECK ADD  CONSTRAINT [CK__CHIPHI__SOLUONG__607251E5] CHECK  (([soluong]>(0)))
GO
ALTER TABLE [dbo].[CHIPHI] CHECK CONSTRAINT [CK__CHIPHI__SOLUONG__607251E5]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD  CONSTRAINT [CHECKDATE] CHECK  ((datepart(year,[NGAYDAT])>(2020)))
GO
ALTER TABLE [dbo].[DATBAN] CHECK CONSTRAINT [CHECKDATE]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD  CONSTRAINT [NGAYDK] CHECK  ((CONVERT([date],[TGDUKIEN])>=[NGAYDAT]))
GO
ALTER TABLE [dbo].[DATBAN] CHECK CONSTRAINT [NGAYDK]
GO
USE [master]
GO
